Repository clemenscodes/draken: changes, and which Codecov flags are due for each by the changed paths.
All: gui, api, bitboard, board, controller, draken, engine, game, model, uci, view

codecov.yml:

codecov:
    notify:
        require_ci_to_pass: yes

comment:
    layout: "header, diff, flags, components"

coverage:
    precision: 2
    round: down
    status:
        project: yes
        patch: yes
        changes: no

component_management:
    default_rules:
        statuses:
            - type: patch
              target: auto

    individual_components:
        - component_id: gui
          paths:
              - "apps/gui/**"
        - component_id: api
          paths:
              - "libs/api/**"
        - component_id: bitboard
          paths:
              - "libs/bitboard/**"
        - component_id: board
          paths:
              - "libs/board/**"
        - component_id: controller
          paths:
              - "libs/controller/**"
        - component_id: draken
          paths:
              - "libs/draken/**"
        - component_id: engine
          paths:
              - "libs/engine/**"
        - component_id: game
          paths:
              - "libs/game/**"
        - component_id: model
          paths:
              - "libs/model/**"
        - component_id: uci
          paths:
              - "libs/uci/**"
        - component_id: view
          paths:
              - "libs/view/**"

perf(repo): no gui ci test, lint warnings fail ci
  .github/workflows/ci.yml
  apps/ui/project.json
  libs/board/src/moves/list.rs
  libs/board/src/pieces/mod.rs
  libs/game/src/lib.rs
Due: board, game

refactor(board): error handling
  libs/board/src/fen/mod.rs
  libs/board/src/fen/placements.rs
  libs/board/src/moves/irreversible/mod.rs
  libs/board/src/moves/mod.rs
  libs/board/src/pieces/mod.rs
  libs/board/src/pieces/piece.rs
  libs/board/src/pieces/queen/mod.rs
Due: board

feat(board): pawn captures, pushes, double pushes and en passant
  libs/board/src/lib.rs
  libs/board/src/moves/mod.rs
  libs/board/src/pieces/pawn/mod.rs
Due: board

feat(board): read io for promotion, needs generic abstraction for tests
  libs/board/src/pieces/pawn/mod.rs
Due: board

docs(uci): add uci reference to assets
  assets/engine-interface.txt
Due: none

feat(board): promote pawns
  libs/api/src/controller.rs
  libs/api/src/game.rs
  libs/api/src/model.rs
  libs/board/src/lib.rs
  libs/board/src/pieces/bishop/black.rs
  libs/board/src/pieces/bishop/mod.rs
  libs/board/src/pieces/bishop/white.rs
  libs/board/src/pieces/king/black.rs
  libs/board/src/pieces/king/mod.rs
  libs/board/src/pieces/king/white.rs
  libs/board/src/pieces/knight/black.rs
  libs/board/src/pieces/knight/mod.rs
  libs/board/src/pieces/knight/white.rs
  libs/board/src/pieces/pawn/black.rs
  libs/board/src/pieces/pawn/mod.rs
  libs/board/src/pieces/pawn/white.rs
  libs/board/src/pieces/piece.rs
  libs/board/src/pieces/queen/black.rs
  libs/board/src/pieces/queen/mod.rs
  libs/board/src/pieces/queen/white.rs
  libs/board/src/pieces/rook/black.rs
  libs/board/src/pieces/rook/mod.rs
  libs/board/src/pieces/rook/white.rs
  libs/controller/src/lib.rs
  libs/game/src/lib.rs
  libs/model/src/lib.rs
Due: api, board, controller, game, model

refactor(board): generic encode trait implementation
  libs/board/src/moves/irreversible/capture/mod.rs
  libs/board/src/moves/irreversible/castle/king.rs
  libs/board/src/moves/irreversible/castle/queen.rs
  libs/board/src/moves/irreversible/pawn/enpassant/mod.rs
  libs/board/src/moves/irreversible/pawn/promotion/bishop.rs
  libs/board/src/moves/irreversible/pawn/promotion/capture/bishop.rs
  libs/board/src/moves/irreversible/pawn/promotion/capture/knight.rs
  libs/board/src/moves/irreversible/pawn/promotion/capture/queen.rs
  libs/board/src/moves/irreversible/pawn/promotion/capture/rook.rs
  libs/board/src/moves/irreversible/pawn/promotion/knight.rs
  libs/board/src/moves/irreversible/pawn/promotion/queen.rs
  libs/board/src/moves/irreversible/pawn/promotion/rook.rs
  libs/board/src/moves/irreversible/pawn/push/mod.rs
  libs/board/src/moves/mod.rs
  libs/board/src/moves/reversible/quiet.rs
Due: board

refactor(board): automatic trait implementations for moves
  libs/board/src/moves/irreversible/capture/mod.rs
  libs/board/src/moves/irreversible/castle/king.rs
  libs/board/src/moves/irreversible/castle/mod.rs
  libs/board/src/moves/irreversible/castle/queen.rs
  libs/board/src/moves/irreversible/mod.rs
  libs/board/src/moves/irreversible/pawn/enpassant/mod.rs
  libs/board/src/moves/irreversible/pawn/mod.rs
  libs/board/src/moves/irreversible/pawn/promotion/bishop.rs
  libs/board/src/moves/irreversible/pawn/promotion/capture/bishop.rs
  libs/board/src/moves/irreversible/pawn/promotion/capture/knight.rs
  libs/board/src/moves/irreversible/pawn/promotion/capture/mod.rs
  libs/board/src/moves/irreversible/pawn/promotion/capture/queen.rs
  libs/board/src/moves/irreversible/pawn/promotion/capture/rook.rs
  libs/board/src/moves/irreversible/pawn/promotion/knight.rs
  libs/board/src/moves/irreversible/pawn/promotion/mod.rs
  libs/board/src/moves/irreversible/pawn/promotion/queen.rs
  libs/board/src/moves/irreversible/pawn/promotion/rook.rs
  libs/board/src/moves/irreversible/pawn/push/mod.rs
  libs/board/src/moves/mod.rs
  libs/board/src/moves/reversible/mod.rs
  libs/board/src/moves/reversible/quiet.rs
Due: board

refactor(board): piece symbols
  libs/board/src/pieces/bishop/black.rs
  libs/board/src/pieces/bishop/white.rs
  libs/board/src/pieces/king/black.rs
  libs/board/src/pieces/king/mod.rs
  libs/board/src/pieces/king/white.rs
  libs/board/src/pieces/knight/black.rs
  libs/board/src/pieces/knight/white.rs
  libs/board/src/pieces/mod.rs
  libs/board/src/pieces/pawn/black.rs
  libs/board/src/pieces/pawn/white.rs
  libs/board/src/pieces/queen/black.rs
  libs/board/src/pieces/queen/white.rs
  libs/board/src/pieces/rook/black.rs
  libs/board/src/pieces/rook/white.rs
Due: board

refactor(board): fen constants associated with impl
  libs/api/src/color.rs
  libs/api/src/lib.rs
  libs/board/src/fen/active_color.rs
  libs/board/src/fen/castling.rs
  libs/board/src/fen/enpassant.rs
  libs/board/src/fen/full_move_clock.rs
  libs/board/src/fen/half_move_clock.rs
  libs/board/src/fen/mod.rs
  libs/board/src/fen/placements.rs
  libs/board/src/pieces/mod.rs
Due: api, board

refactor(board): pieces macro, remove is_illegal_move trait method
  libs/board/src/lib.rs
  libs/board/src/moves/encoded_move.rs
  libs/board/src/pieces/bishop/black.rs
  libs/board/src/pieces/bishop/mod.rs
  libs/board/src/pieces/bishop/white.rs
  libs/board/src/pieces/black_pieces.rs
  libs/board/src/pieces/king/black.rs
  libs/board/src/pieces/king/mod.rs
  libs/board/src/pieces/king/white.rs
  libs/board/src/pieces/knight/black.rs
  libs/board/src/pieces/knight/mod.rs
  libs/board/src/pieces/knight/white.rs
  libs/board/src/pieces/mod.rs
  libs/board/src/pieces/pawn/black.rs
  libs/board/src/pieces/pawn/mod.rs
  libs/board/src/pieces/pawn/white.rs
  libs/board/src/pieces/piece.rs
  libs/board/src/pieces/queen/black.rs
  libs/board/src/pieces/queen/mod.rs
  libs/board/src/pieces/queen/white.rs
  libs/board/src/pieces/rook/black.rs
  libs/board/src/pieces/rook/mod.rs
  libs/board/src/pieces/rook/white.rs
  libs/board/src/pieces/white_pieces.rs
Due: board

ci(repo): codecov action update test
  .github/workflows/ci.yml
Due: none

refactor(board): remove unused trait
  libs/board/src/lib.rs
Due: board

refactor(board): board from fen test format
  libs/board/src/lib.rs
Due: board

refactor(board): format
  libs/board/Cargo.toml
Due: board
